{% extends "base.html" %}

{% block content %}

<h2 style="text-align:center;">Criar Conta</h2>

<div style="max-width: 400px; margin: auto;">

    <form method="post" action="/register">

        <input type="email" name="email" placeholder="Seu email" required>

        <input type="password" name="senha" placeholder="Sua senha" required>

        <button type="submit">Cadastrar</button>

    </form>

    {% if erro %}
        <p style="color:red; text-align:center; margin-top:10px;">
            {{ erro }}
        </p>
    {% endif %}

    <a href="/" class="link" style="display:block; text-align:center;">
        ⬅ Voltar
    </a>

</div>

{% endblock %}